# ─── Discord Bot ───────────────────────────────────────────────
# Get this from https://discord.com/developers/applications
DISCORD_TOKEN=MTQ4MjA2NTE3MTMwNzQyOTkyMw.GSF9iQ.tZA4UFkMpAi_HW55kPjI5rO6l8drBriUNa9lSQ
